#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan_composite;
        zmk,battery = &non_lipo_battery;
        zmk,physical-layout = &physical_layout0;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "default_layout";

        kscan = <&kscan_composite>;
        transform = <&default_transform>;

        keys  //                          w   h     x     y      rot    rx     ry
            = <&key_physical_attrs 100 100     0    25       0     0     0>   /* 0  ESC      */
            , <&key_physical_attrs 100 100   100    25       0     0     0>   /* 1  Q        */
            , <&key_physical_attrs 100 100   200    13       0     0     0>   /* 2  W        */
            , <&key_physical_attrs 100 100   300     0       0     0     0>   /* 3  E        */
            , <&key_physical_attrs 100 100   400    13       0     0     0>   /* 4  R        */
            , <&key_physical_attrs 100 100   500    25       0     0     0>   /* 5  T        */
            , <&key_physical_attrs 100 100     0   125       0     0     0>   /* 6  LCTL     */
            , <&key_physical_attrs 100 100   100   125       0     0     0>   /* 7  A        */
            , <&key_physical_attrs 100 100   200   113       0     0     0>   /* 8  S        */
            , <&key_physical_attrs 100 100   300   100       0     0     0>   /* 9  D        */
            , <&key_physical_attrs 100 100   400   113       0     0     0>   /* 10 F        */
            , <&key_physical_attrs 100 100   500   125       0     0     0>   /* 11 G        */
            , <&key_physical_attrs 100 100   600   138       0     0     0>   /* 12 SEMI     */
            , <&key_physical_attrs 100 100     0   225       0     0     0>   /* 13 LSFT     */
            , <&key_physical_attrs 100 100   100   225       0     0     0>   /* 14 Z        */
            , <&key_physical_attrs 100 100   200   213       0     0     0>   /* 15 X        */
            , <&key_physical_attrs 100 100   300   200       0     0     0>   /* 16 C        */
            , <&key_physical_attrs 100 100   400   213       0     0     0>   /* 17 V        */
            , <&key_physical_attrs 100 100   500   225       0     0     0>   /* 18 B        */
            , <&key_physical_attrs 100 100   600   238       0     0     0>   /* 19 LBKT     */
            , <&key_physical_attrs 100 100     0   325       0     0     0>   /* 20 CAPS     */
            , <&key_physical_attrs 100 100   100   325       0     0     0>   /* 21 LGUI     */
            , <&key_physical_attrs 100 100   200   313       0     0     0>   /* 22 LALT     */
            , <&key_physical_attrs 100 100   300   300       0     0     0>   /* 23 BSPC     */
            , <&key_physical_attrs 100 100   450   350       0     0     0>   /* 24 DEL      */
            , <&key_physical_attrs 100 100   550   350    1000   550   450>   /* 25 SPC      */
            , <&key_physical_attrs 100 100   648   367    2000   648   467>   /* 26 LANG2    */
            , <&key_physical_attrs 100 100   715   138       0     0     0>   /* 27 SW_L enc */
            , <&key_physical_attrs 100 100  1050    25       0     0     0>   /* 28 Y        */
            , <&key_physical_attrs 100 100  1150    13       0     0     0>   /* 29 U        */
            , <&key_physical_attrs 100 100  1250     0       0     0     0>   /* 30 I        */
            , <&key_physical_attrs 100 100  1350    13       0     0     0>   /* 31 O        */
            , <&key_physical_attrs 100 100  1450    25       0     0     0>   /* 32 P        */
            , <&key_physical_attrs 100 100  1550    25       0     0     0>   /* 33 BSPC     */
            , <&key_physical_attrs 100 100   950   138       0     0     0>   /* 34 SQT      */
            , <&key_physical_attrs 100 100  1050   125       0     0     0>   /* 35 H        */
            , <&key_physical_attrs 100 100  1150   113       0     0     0>   /* 36 J        */
            , <&key_physical_attrs 100 100  1250   100       0     0     0>   /* 37 K        */
            , <&key_physical_attrs 100 100  1350   113       0     0     0>   /* 38 L        */
            , <&key_physical_attrs 100 100  1450   125       0     0     0>   /* 39 MINS     */
            , <&key_physical_attrs 100 100  1550   125       0     0     0>   /* 40 EQL      */
            , <&key_physical_attrs 100 100   950   238       0     0     0>   /* 41 RBKT     */
            , <&key_physical_attrs 100 100  1050   225       0     0     0>   /* 42 N        */
            , <&key_physical_attrs 100 100  1150   213       0     0     0>   /* 43 M        */
            , <&key_physical_attrs 100 100  1250   200       0     0     0>   /* 44 COMMA    */
            , <&key_physical_attrs 100 100  1350   213       0     0     0>   /* 45 DOT      */
            , <&key_physical_attrs 100 100  1450   225       0     0     0>   /* 46 SLASH    */
            , <&key_physical_attrs 100 100  1550   225       0     0     0>   /* 47 RSFT     */
            , <&key_physical_attrs 100 100   902   367   34000  1002   467>   /* 48 LANG1    */
            , <&key_physical_attrs 100 100  1000   350   35000  1100   450>   /* 49 ENTER    */
            , <&key_physical_attrs 100 100  1450   325       0     0     0>   /* 50 SEMI     */
            , <&key_physical_attrs 100 100  1550   325       0     0     0>   /* 51 SQT      */
            , <&key_physical_attrs 100 100   835   138       0     0     0>   /* 52 SW_R enc */
            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <53>;
        rows = <1>;
        /*
         * 左手 (col 0-27): HE1-HE27 + SW(エンコーダープッシュ)
         * 右手 (col 28-52): HE28-HE51 + SW_R(エンコーダープッシュ)
         *
         * 左手:
         *  0- 5: HE1 -HE6   (行1)
         *  6-12: HE7 -HE13  (行2)
         * 13-19: HE14-HE20  (行3)
         * 20-26: HE21-HE27  (行4)
         *    27: SW          (エンコーダープッシュボタン)
         *
         * 右手:
         * 28-33: HE28-HE33  (行1)
         * 34-40: HE34-HE40  (行2)
         * 41-47: HE41-HE47  (行3)
         * 48-51: HE48-HE51  (行4)
         *    52: SW_R        (エンコーダープッシュボタン)
         */
        map = <
            RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)
            RC(0,6)  RC(0,7)  RC(0,8)  RC(0,9)  RC(0,10) RC(0,11) RC(0,12)
            RC(0,13) RC(0,14) RC(0,15) RC(0,16) RC(0,17) RC(0,18) RC(0,19)
            RC(0,20) RC(0,21) RC(0,22) RC(0,23) RC(0,24) RC(0,25) RC(0,26)
            RC(0,27)
            RC(0,28) RC(0,29) RC(0,30) RC(0,31) RC(0,32) RC(0,33)
            RC(0,34) RC(0,35) RC(0,36) RC(0,37) RC(0,38) RC(0,39) RC(0,40)
            RC(0,41) RC(0,42) RC(0,43) RC(0,44) RC(0,45) RC(0,46) RC(0,47)
            RC(0,48) RC(0,49) RC(0,50) RC(0,51)
            RC(0,52)
        >;
    };

    /* Disable default battery monitoring */
    vbatt: vbatt {
        status = "disabled";
    };

    /* Non-LiPo (Ni-MH) battery monitoring via ADC channel 0 */
    non_lipo_battery: non_lipo_battery {
        compatible = "zmk,non-lipo-battery";
        io-channels = <&adc 0>;
    };

    /* Left EC11 Rotary Encoder: A=P1.05, B=P1.07 */
    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "disabled";
    };

    /* Right EC11 Rotary Encoder: A=P1.05, B=P1.07 (same pins, different MCU) */
    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <20>;
    };
};
